.anta-regular {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .titulo{
    margin-top: 0px;
    text-align: center;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.logoalex {
    position: absolute;
    top:  20%;
    left:  50%;
    transform: translate(-50%, -50%);
}

header {
    display: flex;
    flex-direction: column; /* Alinha os itens verticalmente */
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: center; /* Centraliza os itens verticalmente */
    height:  100vh; /* Altura total da viewport, ajuste conforme necessário */
}

.body{
    background-color: #7FFFD4;
}

nav {
    display: flex;
    justify-content: space-around; /* Espaçamento uniforme entre os botões */
    padding:  10px  0; /* Espaçamento interno na parte superior e inferior */
}

nav button {
    display: flex;
    margin-top: 40px;
    justify-content: space-around;
    font-family: "Anta", sans-serif;
    font-weight: 100;
    font-style: normal;
    padding:  25px  40px; /* Espaçamento interno dos botões */
    font-size: 25px;
    border: none; /* Remove a borda padrão dos botões */
    background-color: 	#48D1CC; /* Cor de fundo dos botões */
    color: black; /* Cor do texto dos botões */
    cursor: pointer; /* Muda o cursor para um ponteiro quando passa o mouse */
    transition: background-color  0.8s; /* Transição suave ao mudar a cor de fundo */
}

nav button:hover {
    background-color: white; /* Cor de fundo ao passar o mouse */
}