<!DOCTYPE html>
<html>
    <head>
        <title>SOLO</title>
        <meta charset="utf-8">
        <meta name="description" content="Página web SOLO">
        <link rel="shortcut icon" type="image/png" href="../static/static/image/iconealex.png"/>
        <link rel="stylesheet" type="text/css" href="../static/style/home.css">
    </head>
    <body>
        <header>
            
            <div class="imagem">
                <img class="img-icon" src="../static/image/iconealex.png" alt="Logotipo SOLO">
                <div class="texto">
                    <h1>SOLO</h1>
                    <h2>Gestão de resíduos sólidos</h2>
                    <h3>Aterro em RSCC com beneficiamento, com ou sem triagem</h3>
                </div>
            </div>
            
        </header>
        <nav>
        <ul class="menu">
            <li><a class="quemsomos" href="/quemsomos">
                <img class="img-menu" src="../static/image/quemsomos.png" alt="quemsomos">Quem somos</a></li>
            <li><a class="servicos" href="/servicos">
                <img class="img-menu" src="../static/image/servicos.png" alt="servicos">Serviços</a>
            <li><a class="contato" href="/contato">
                <img class="img-menu" src="../static/image/contato.png" alt="Contato">Contato
                </a></li>
            </nav>
                <a href="https://web.whatsapp.com/"><img class="img-whatsapp" src="../static/image/whatsapp.png" alt="imagem whatsapp"></a>
                <footer class="rodape">
                    <div class="redes">
                        <a href="#"><img class="img-redes" src="../static/image/twitter.png" alt="imagem twitter"></a>
                        <a href="#"><img class="img-redes" src="../static/image/instagram.png" alt="imagem instagram"></a>
                        <a href="#"><img class="img-redes" src="../static/image/facebook.png" alt="imagem facebook"></a>
                    </div>
                    <div class="copy">copyright 2024 | Leonardo taian<i class="fa-solid fa-copyright" style="color: #000000;"></i></div>
                </footer>
    </body>