<!DOCTYPE html>
<html>
    <head>
        <title>SOLO Soluções ambientais</title>
        <link rel="stylesheet" href="../static/style/home.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Anta&display=swap" rel="stylesheet">
    </head>

<header class="header">
    <img class="logoalex" src="../static/image/logoalex.png" alt="Logo SOLO">
    <nav>
        <button>Home</button>
        <button>Sobre</button>
        <button>Serviços</button>
        <button>Contato</button>
    </nav>
    <h1 class="titulo">Bem Vindos a SOLO Soluções ambientais</h1>
</header>
<body class="body">
    <section class="news-section">
    <h2>Últimas Notícias</h2>
    <div class="news-item">
        <img src="../static/image/noticia1.webp" alt="Imagem da Notícia  1">
        <div class="news-content">
            <h3>Amazônia registra décimo mês consecutivo de redução do desmatamento, aponta Imazon</h3>
            <p>O desmatamento da floresta amazônica teve queda de 60% em janeiro, em comparação ao mesmo período do ano passado. De acordo com dados do Instituto do Homem e Meio Ambiente da Amazônia (Imazon) divulgados nesta quarta-feira (21), este é o décimo mês consecutivo de redução no desmatamento.

                O monitoramento por imagens de satélite do Imazon mostra que a área devastada em janeiro de 2024 foi de 79 km². Em janeiro do ano anterior, a floresta perdeu 198 km² para o desmatamento.
                
                Em dezembro, a destruição registrada havia sido de 108 km². Apesar da queda, o desmatamento observado em janeiro equivale à perda de mais de 250 campos de futebol por dia de floresta.
                
                
                Os dados são do Sistema de Alerta de Desmatamento (SAD) do instituto. O sistema detecta áreas desmatadas em imagens de satélites de toda a Amazônia Legal e leva em conta degradações florestais o que ocorreram em áreas a partir de 1 hectare, o que equivale a aproximadamente 1 campo de futebol.</p>
        </div>
    </div>
    <div class="news-item">
        <img src="../static/image/noticia2.avif" alt="Imagem da Notícia  2">
        <div class="news-content">
            <h3>O que é o 'domo de calor', que provocou temperaturas extremas na Argentina e se aproxima do sul do Brasil</h3>
            <p>Uma onda de calor que está sobre a Argentina e que se aproxima de algumas regiões mais ao sul do Brasil faz a previsão do tempo para o começo de fevereiro ser de dias ainda mais quentes.🔥 O "culpado"? Um fenômeno chamado "domo de calor".

                Domo de calor é um outro nome para as já conhecidas ondas de calor, como explica Fábio Luengo, meteorologista da Climatempo. "No fundo, é a mesma coisa", afirma o meteorologista.
                
                A expressão "domo de calor" vem do inglês "heat dome". Baseado uma tradução livre, o fenômeno pode ser também chamado de "cúpula de calor".
                
                "E como ele se forma? Existe uma área de alta pressão que acaba inibindo a formação de nuvens de chuva. O ar é descendente, de cima para baixo. E, com isso, dificulta a formação de nuvens de chuva", explica Luengo.
                
                Vista do Centro Histórico de Porto Alegre — Foto: Alex Rocha/PMPA
                Vista do Centro Histórico de Porto Alegre — Foto: Alex Rocha/PMPA
                
                No Brasil, a onda de calor que partiu da Argentina na semana passada deve fazer com que as temperaturas cheguem a 38°C em cidades do Rio Grande do Sul nos próximos dias. Não há previsão de chuva.
                
                "Dessa forma, essa alta pressão atuando vários dias consecutivos, a gente fala que o ar seco vai predominando. Com isso, vai aquecendo cada vez mais até ganhar força suficiente para ser uma onda de calor", explica Luengo
                
                </p>
        </div>
    </div>
    <!-- Adicione mais itens de notícias conforme necessário -->
</section>

</body>
</html>