<!DOCTYPE html>
<html>
    <head>
        <title>SOLO Soluções ambientais</title>
        <link rel="stylesheet" href="../static/style/home.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Anta&display=swap" rel="stylesheet">
    </head>

<header class="header">
    <img class="logoalex" src="../static/image/logoalex.png" alt="Logo SOLO">
    <nav>
        <button>Home</button>
        <button>Sobre</button>
        <button>Serviços</button>
        <button>Contato</button>
    </nav>
    <h1 class="titulo">Bem Vindos a SOLO Soluções ambientais</h1>
</header>
<body class="body">

</body>
</html>